<ion-header>
  <ion-row>
    <ion-col></ion-col>
    <ion-col text-center>
      <ion-select interface="popover" placeholder="Select one" (click)="selectPizzeria()">
        <ion-select-option *ngFor="let item of pizzerias" value="item.name">{{item.name}}</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card *ngFor="let pizza of pizzas">
    <ion-card-header>
      <ion-card-title>pizza.name</ion-card-title>
      <ion-card-content>
        <span *ngFor="let ingr of pizza.ingredients">ingr</span>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>